.grayZone {
  background-color: #9e9e9e;
  height: 80px;
  width: 100vw;
  padding: 8px 10px 0px;
}

.small {
  background-color: #2196f3;
  height: 70px;
  width: 70px;
  margin-left: 10px;

}
.message {
  margin: 50px 50px;
}

.box {
  height: 100px;
  width: 100vw;
}

.row1 {
  background-color: #2196f3;
}
.row2 {
  background-color: #00bcd4;
}
.row3 {
  background-color: #8bc34a;
}
.row4 {
  background-color: #ffeb3b;
}
